.Patient{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerMMM{
    width: 70%;
    height: 80vh;
    font-size: xx-large;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    color:#4CAF50;
    background-image: url('../images/1709628959014.png');
}
h1{
    margin-left: 40%;
    margin-top: 10px;
    
}
 .row{
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-direction: column;}

button{
    background-color:darkcyan;
    width: 20%;
    text-align: center;
    font-size: large;
    border: none;
    border-radius: 5px;
    /* margin-top: 3rem; */
    padding: 5rem;
    color: darkcyan;
    border: darkcyan solid;
}
button:hover{
    background-color:aliceblue;
    color: #4CAF50;
}
button:active{
    background-color:aliceblue;
    color: black;

}
